---
import "../styles/global.css";
import { pathWithBase } from "../utils/index";
import { siteInfo } from "src/constants/site-info";

interface Props {
  title: string;
  image?: string;
  description?: string;
}

const {
  title = siteInfo.title,
  description = siteInfo.description,
  image,
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href={pathWithBase("/favicon.svg")} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <meta name="author" content="Luiggy Carlin" />
    <meta name="description" content={description} />

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />

    <title>{title}</title>

    <style>
      @view-transition {
        navigation: auto;
      }
    </style>
  </head>
  <body class="bg-black text-slate-100 m-auto max-w-3xl">
    <main class="mt-10">
      <slot />
    </main>
  </body>
</html>
